{% extends 'base_generic.html' %}
<header class="header-area">
    {% block navbar %}
        {% include 'base_nav.html' %}
    {% endblock %}
</header>
{% block pagina_titulo %}
    <p>See what’s new</p>
    <h2>Cliente: {{ profile.user.username}}</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
  <table class="table text-center">
      <thead class="thead-dark">
          <tr>
              <th>Titulo</th>
              <th>Tipo</th>
              <th>Categoría</th>
              <th>Código</th>
              <th>Ver</th>
          </tr>
      </thead>
      <tbody>
          {% for product in owned_products %}
              <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.get_type_display }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.id }}</td>
                <td><a href="{{ product.get_absolute_url }}">Click</a></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}